<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<string>attend</string>
	<key>2</key>
	<string>account</string>
	<key>3</key>
	<string>against</string>
	<key>4</key>
	<string>because</string>
	<key>5</key>
	<string>between</string>
	<key>6</key>
	<string>abstract</string>
	<key>7</key>
	<string>accord</string>
	<key>8</key>
	<string>acknowledge</string>
	<key>9</key>
	<string>acquaint</string>
	<key>10</key>
	<string>adjoin</string>
</dict>
</plist>
